
services:
  ubuntu-systemd:
    build: .
    container_name: ubuntu-systemd-dbus
    privileged: true
    restart: unless-stopped
    stdin_open: true
    tty: true
    volumes:
      - /sys/fs/cgroup:/sys/fs/cgroup:rw
    tmpfs:
      - /run
      - /run/lock
