name: caracal-certs
services:
  create-server-ca-cert:
    build:
      context: .
      dockerfile: Dockerfile
    user: root
    entrypoint: sh
    working_dir: /export
    volumes:
      - .:/scripts
      - ./release:/dist
    command: /scripts/certs/create-ca.sh server caracal-server
    env_file:
      - ./secrets.env

  create-server-certs:
    build:
      context: .
      dockerfile: Dockerfile
    user: root
    entrypoint: sh
    working_dir: /export
    volumes:
      - .:/scripts
      - ./release:/dist
    command: /scripts/certs/create-server-cert.sh
    env_file:
      - ./secrets.env

####################################################################
  create-client-ca-cert:
    build:
      context: .
      dockerfile: Dockerfile
    user: root
    entrypoint: sh
    working_dir: /export
    volumes:
      - .:/scripts
      - ./release:/dist
    command: /scripts/certs/create-ca.sh client caracal-client
    env_file:
      - ./secrets.env

  create-client-default-cert:
    build:
      context: .
      dockerfile: Dockerfile
    user: root
    entrypoint: sh
    working_dir: /export
    volumes:
      - .:/scripts
      - ./release:/dist
    command: /scripts/certs/create-client-certs.sh
    env_file:
      - ./secrets.env
################################################################